mat-form-field {
  width: 100%;
}
main {
  min-height: 100vh;
  background-color: rgb(241, 241, 241);
  padding-bottom: 50px;
}

form {
  width: 100%;
}

button {
  width: 100%;
}

table {
  width: 100%;
}

mat-card {
  height: 100%;
}
/*
th {
  text-align: center !important;
}

td {
  text-align: center !important;
} */
