<main class="">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 mx-auto">
        <div class="row">
          <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 pt-5">
            <form [formGroup]="form" (ngSubmit)="submit(ngForm!)" #formDirective="ngForm">
              <mat-card>
                <mat-card-header>
                  <mat-card-title>Formulário</mat-card-title>
                  <mat-card-subtitle>Preencha os dados solicitados</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <div>
                    <mat-form-field appearance="fill">
                      <mat-label>Nome</mat-label>
                      <input matInput formControlName="nome">
                      <mat-error *ngIf="form.controls['nome'].invalid">Campo obrigatório</mat-error>
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field appearance="fill">
                      <mat-label>Telefone</mat-label>
                      <input matInput formControlName="telefone" mask="(00)00000-0000">
                      <mat-error *ngIf="form.pristine && form.controls['telefone'].value == '' else erroTelInvalido">
                        Campo
                        obrigatório
                      </mat-error>
                      <ng-template #erroTelInvalido>
                        <mat-error *ngIf="form.controls['telefone'].invalid">Telefone inválido</mat-error>
                      </ng-template>
                    </mat-form-field>
                  </div>
                  <div class="row mt-3">
                    <div class="col-6">
                      <button type="button" (click)="cleanForm(ngForm!)" mat-raised-button color="warn"
                        [disabled]="form.pristine">Limpar</button>
                    </div>
                    <div class="col-6">
                      <button mat-raised-button color="primary" type="submit">Salvar</button>
                    </div>
                  </div>
                </mat-card-content>

              </mat-card>
            </form>
          </div>
        </div>

      </div>

      <div class="col-12">
        <div class="row">
          <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 pt-5">

            <mat-card *ngIf="data.length == 0 else tableData">
              <h2>Ainda não há dados salvos</h2>
            </mat-card>
            <ng-template #tableData>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Filtrar Resultados</mat-label>
                <input matInput placeholder="" [(ngModel)]="filter" (keyup)="onFilter()">
                <button mat-icon-button matSuffix mat-stroked-buttonn aria-label="search" (click)="clearFilter()">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
              <table mat-table [dataSource]="filteredData" matSort (matSortChange)="sort($event)"
                class="mat-elevation-z2 col-12">

                <ng-container matColumnDef="codigo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar pelo código"> #
                  </th>
                  <td mat-cell *matCellDef="let element" sortActionDescription="Ordenar pelo código"> {{element.codigo}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="nome">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar pelo nome"> Nome
                  </th>
                  <td mat-cell *matCellDef="let element"> {{element.nome}}
                  </td>
                </ng-container>

                <ng-container matColumnDef="telefone">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar pelo telefone">
                    Telefone </th>
                  <td mat-cell *matCellDef="let element">
                    {{element.telefone | mask: '(00)00000-0000'}} </td>
                </ng-container>

                <ng-container matColumnDef="apagar">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center !important;"> Apagar </th>
                  <td mat-cell *matCellDef="let element" style="text-align: center !important;"> <button color="warn"
                      mat-icon-button matSuffix mat-stroked-buttonn aria-label="search" (click)="deletePessoa(element)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
              </table>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
